<div class="pbi" data-ng-controller="ProductBacklogItem">
	<div class="pbi-front">
	
		<i class="remove fa fa-remove" ng-click="deletePbi(pbi._id)"></i>
		<i class="handle fa fa-reorder"></i>
		<i class="flip fa fa-rotate-left"></i>
		
		<div contenteditable ng-model="pbi.who" ng-bind="pbi.who"></div>
		<div contenteditable ng-model="pbi.what"></div>
		<div contenteditable ng-model="pbi.why"></div>
		{{pbi.who}}
		<div class="value">
			<select>
				<option>Value</option>
				<option>$$$$</option>
				<option>$$$</option>
				<option>$$</option>
				<option>$</option>
			</select>
		</div>
		<div class="size">
			<select>
				<option>Size</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
			</select>
		</div>
	</div>
	<div class="pbi-back">
		<div>Definitions of Done:</div>
		<ol>
			<li contenteditable>Tests</li>
			<li>1 Revision</li>
			<li>Documentation</li>
		</ol>
	</div>
</div>
