body, input, select{
	font-family: "Comic Sans MS", "Marker Felt", sans-serif;
	font-size: 16px;
	line-height: 1.5rem;
}
input, select {
	border: none;
	height: 44px;
	background-color: transparent;
}
body, div, span {
	box-sizing: border-box;
}
.product_backlog {
	display: inline-block;
	height: 100%;
}
.sprint_backlog {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.sprint_backlog table {
	width: 100%;
}
.sprint_backlog thead td {
	font-size: 1.2em;
	text-align: center;
}
.sprint_backlog tbody td {
	padding: 10px;
	border: 6px solid mediumblue;
}
.sprint_backlog table {
	border-collapse: collapse;
	border-spacing: 0;
}
.add {
	cursor: pointer;
	color: green;
	vertical-align: middle;
}
.remove {
	background-color: white;
	border-radius: 50%;
	color: red;
	position: absolute;
	right: -34px;
	top: 15px;
	cursor: pointer;
}
.flip {
	background-color: white;
	border-radius: 50%;
	position: absolute;
	right: -34px;
	bottom: 15px;
	cursor: pointer;
}
.handle {
	background-color: white;
	border-radius: 50%;
	position: absolute;
	right: -34px;
	top: 100px;
	cursor: move;
}

/* PBI STYLES */


.pbi {
	box-shadow: 1px 1px 2px gray; 
	width: 320px; 
	height: 240px;
	border: 1px solid #eee;
	position: relative;
	margin-bottom: 10px;
}
.pbi-front {
	width:100%;
	height:194px; /*pbi height - value height */
	overflow-x: hidden;
	overflow-y: auto;
}
.pbi-back {
	padding: 5px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.who, .what, .why {
	margin-bottom: 5px;
	padding: 2px;
}
.who {
	background-color: #FFFED3;
	margin-bottom: 5px;
}
.who:before {
	content: 'WHO: ';
}
.what {
	background-color: #DAECE0;
	margin-bottom: 5px;
}
.what:before {
	content: 'WHAT: ';
}
.why {
	background-color: #FFD9D3;
	margin-bottom: 5px;

}
.why:before {
	content: 'WHY: ';
}
.value {
	position: absolute;
	bottom: 0;
	left: 0;
}
.size {
	position: absolute;
	bottom: 0;
	right: 0;
}

select {
	vertical-align: top;
}